services:
  rstudio:
    image: researchtools:latest
    container_name: researchenv
    environment:
      - PUID=1000
      - PGID=1000
      - PASSWORD=password
      - TZ=Asia/Tokyo
      - DISABLE_AUTH=true
      - ROOT=true
      - PIPX_HOME=/home/rstudio/.cache/pipx
      - PIPX_BIN_DIR=/home/rstudio/bin
    ports:
      - 8787:8787
    volumes:
      - ./.config:/home/rstudio/.config
      - ./projects:/home/rstudio/projects
      - ./.ssh:/home/rstudio/.ssh
      - cache:/home/rstudio/.cache
      - bin:/home/rstudio/bin
    restart: on-failure

volumes:
  cache:
    external: true
  bin:
    external: true
